<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.humankdh.mapper.ReplyMapper">
	<insert id="insert">
	INSERT INTO FITNESS_REPLY (RNO, BNO, REPLY, REPLYER)
	VALUES (SEQ_FITNESS_REPLY.NEXTVAL, #{bno}, #{reply}, 'dong12')
	</insert>
	
	<select id="read" resultType="reply">
	SELECT * FROM FITNESS_REPLY WHERE RNO = #{rno}
	</select>
	
	<update id="update">
	UPDATE FITNESS_REPLY SET 
	REPLY = #{reply},
	REPLYER = 'dong12',
	UPDATEDATE = SYSDATE
	WHERE RNO = #{rno}
	</update>
	
	<delete id="delete">
	DELETE FITNESS_REPLY WHERE RNO = #{rno}
	</delete>
	
	<select id="getList" resultType="reply">
	SELECT /*+ INDEX(TR IDX_REPLY) */ * 
	FROM FITNESS_REPLY TR 
	WHERE BNO = #{bno}
	<if test="cri.lastRno != 0">	
	AND RNO &lt; #{cri.lastRno} 
	</if> 
	AND ROWNUM &lt;= #{cri.amount}
	</select>  

</mapper>