<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.humankdh.mapper.PTreserveMapper">

	<resultMap type="member" id="memberMap">
		<id property="userid" column="ID"/>
		<result property="userpw" column="PWD"/>
		<result property="userName" column="NAME"/>
		<result property="gender" column="GENDER"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="category" column="CATEGORY"/>
		<result property="rating" column="RATING"/>
	</resultMap>
	
	<select id="getTrainerList" resultMap="memberMap">
	SELECT *
	FROM FITNESS_MEMBER
	WHERE RATING = 3
	</select>
	
	<insert id="insertCareer">
	INSERT INTO FITNESS_TRAINER_CAREER(CNO, TRAINERID, CAREERNAME, STARTDATE, ENDDATE, COMMENTS) 
	VALUES(
		SEQ_CAREER.NEXTVAL, 
		#{trainerId}, 
		#{careerName}, 
		TO_CHAR(TO_DATE(#{startDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD'), 
		TO_CHAR(TO_DATE(#{endDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD'), 
		#{comments})
	</insert>
	
	<select id="readComments" resultType="String">
	SELECT COMMENTS
	FROM FITNESS_TRAINER_CAREER
	WHERE TRAINERID = #{id}
	AND COMMENTS IS NOT NULL
	AND ROWNUM = 1
	ORDER BY CNO DESC
	</select>
	
	<select id="getCareers" resultType="career">
	SELECT * 
	FROM FITNESS_TRAINER_CAREER
	WHERE TRAINERID = #{id}
	ORDER BY CNO
	</select>
	
	<update id="updateCareer">
	UPDATE FITNESS_TRAINER_CAREER
	SET
	CAREERNAME = #{careerName},
	STARTDATE = TO_CHAR(TO_DATE(#{startDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD'),
	ENDDATE = TO_CHAR(TO_DATE(#{endDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
	WHERE CNO = #{cno}
	</update>
	
	<delete id="deleteCareer">
	DELETE FITNESS_TRAINER_CAREER
	WHERE CNO = #{cno}
	</delete>
	
	<delete id="deleteAllCareer">
	DELETE FITNESS_TRAINER_CAREER
	WHERE TRAINERID = #{id}
	</delete>
	
	<insert id="insertPT">
	INSERT INTO FITNESS_PT_RESERVE(RESERVE_NO, T_ID, M_ID, RESERVE_DATE, START_TIME, END_TIME)
	VALUES(
	SEQ_RESERVE.NEXTVAL,
	#{trainerId},
	#{memberId},
	TO_DATE(#{reserveDate}, 'YYYY-MM-DD'),
	TO_DATE(#{reserveDate}||' '||#{startTime}, 'YYYY-MM-DD HH24:MI'),
	NVL2(#{endTime, jdbcType=DATE}, TO_DATE(#{reserveDate}||' '||#{endTime, jdbcType=DATE}, 'YYYY-MM-DD HH24:MI'), NULL)
	
	<!-- 
	정상적으로 작동 하지만 가독성이 안좋음
	<choose>
	<when test="endTime!=null and !endTime.equals('')">
	TO_DATE(#{reserveDate}||' '||#{endTime}, 'YYYY-MM-DD HH24:MI')
	</when>
	<otherwise>
	NULL	
	</otherwise>
	</choose> 
	-->
	
	<!--
	변수에 ',jdbcType=DATE'를 해줘야 값이 null 일때 NVL2 작동함
	mybatis configuration 을 통해서 jdbcTypeforNull 옵션을 설정하면 아래 방식으로도 가능하다고 함 	
	NVL2(#{endTime}, TO_DATE(#{reserveDate}||' '||#{endTime}, 'YYYY-MM-DD HH24:MI'), NULL) 
	-->
	)
	</insert>
	
	<select id="trainerHasReserveByTime" resultType="boolean">
	SELECT COUNT(*) 
	FROM FITNESS_PT_RESERVE 
	WHERE 
		RESERVE_DATE = TO_DATE(#{reserveDate},'YYYY-MM-DD') 
		AND START_TIME = TO_DATE(#{reserveDate}||' '||#{startTime}, 'YYYY-MM-DD HH24:MI') 
		AND T_ID = #{trainerId} 
		AND ROWNUM >= 1
	</select>
	
	<select id="memberHasReserveByDay" resultType="boolean">
	SELECT COUNT(*)
	FROM FITNESS_PT_RESERVE
	WHERE
		RESERVE_DATE = TO_DATE(#{reserveDate}, 'YYYY-MM-DD')
		AND M_ID = #{memberId}
		AND ROWNUM >= 1
	</select>
	
	<select id="selectTrainerReservedTimeBy" parameterType="String" resultType="String">
	SELECT TO_CHAR(START_TIME, 'HH24') 
	FROM FITNESS_PT_RESERVE 
	WHERE 
		T_ID = #{trainerId} AND 
		RESERVE_DATE = TO_DATE(#{reserveDate}, 'YYYY-MM-DD') 
	ORDER BY START_TIME
	</select>
	
	<select id="selectTrainerReservedDayBy" resultType="String">
	SELECT TO_CHAR(RESERVE_DATE, 'DD')
	FROM FITNESS_PT_RESERVE
	WHERE
		T_ID = #{trainerId} AND
		TO_CHAR(RESERVE_DATE, 'YYYY-MM') = #{year_month} AND
		TO_CHAR(RESERVE_DATE, 'DD') >= #{today}
	GROUP BY RESERVE_DATE
	ORDER BY RESERVE_DATE
	</select>
	
</mapper>